body {
    background-image: linear-gradient(to right, purple, darkblue);
    font-family: 'Ranchers', cursive;
}

nav {
    border: 2px solid black;
    background: white;
    font-weight: bold;
    margin: 30px;
}

.frame {
    border: 2px solid black;
    background: white;
    font-weight: bold;
    margin: 30px;
    padding: 20px;
}


.quiz {
    align-content: center;
    text-align: center;
    background: white;
    border: 2px solid black;
    margin: auto;
    padding: 30px;
}

.highscores {
    float: left;
    padding: 20px;
    top: 0;
    left: 0;
}

.time {
    text-align: right;
    padding: 20px;
    float: right;
    top: 0;
    right: 0;
}